@model IEnumerable<GestaoObras.Models.Material>

@{
    ViewData["Title"] = "Materiais";
}

<h1>Materiais</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Registar Materiais</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockDisponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockDisponivel)
            </td>
            <td class="text-nowrap">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm me-2">
                    <i class="bi bi-pencil"></i> Editar
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm me-2">
                    <i class="bi bi-eye"></i> Detalhes
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm me-2">
                    <i class="bi bi-trash"></i> Eliminar
                </a>
                <form asp-action="AdicionarStock" method="post" class="d-inline-flex align-items-center ms-2">
                    <input type="hidden" name="id" value="@item.Id" />

                    <input type="number"
                        name="quantidade"
                        min="1"
                        value="1"
                        class="form-control form-control-sm me-1"
                        style="width:70px;" />

                    <button type="submit" class="btn btn-success btn-sm">
                        + Stock
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar à Página Inicial</a>