@model IEnumerable<GestaoObras.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Adicionar Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td class="text-nowrap">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm me-2">
                    <i class="bi bi-pencil"></i> Editar
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm me-2">
                    <i class="bi bi-eye"></i> Detalhes
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">
                    <i class="bi bi-trash"></i> Eliminar
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar à Página Inicial</a>
